:root {
    --pico-border-radius: 0;
}

[role=search]>:last-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

[role=search]>:first-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.no-underscore {
    text-decoration: none;
}

.no-list-bullet-point {
    li {
        list-style: none;
    }
    padding-inline-start: 0;
}

.auction-controls {
    display: flex;
    justify-items: baseline;
    align-items: baseline;
    justify-content: flex-end;
    gap: var(--pico-spacing);
}

.divider {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: var(--pico-spacing);
    align-items: center;
    hr {
        flex: 1;
    }
}

.grid.narrow-row {
    grid-row-gap: 0;
}

.narrow {
    max-width: 576px;
    padding: var(--pico-block-spacing-vertical) var(--pico-block-spacing-horizontal);
}

.cut-to-two-rows {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
