package templates

templ notFound() {
    @main() {
        <hr/>
        <hgroup>
            <h2>We couldn't find this page</h2>
            <p>Maybe try something else...</p>
        </hgroup>
    }
}
