package templates

templ main() {
    <main id="main" class="container">
        { children... }
    </main>
}

templ header() {
    <header id="header" class="container">
        { children... }
    </header>
}
