package templates

templ main() {
    <main id="main" class="container">
        { children... }
    </main>
}

templ header() {
    <header id="header" class="container">
        { children... }
    </header>
}

templ divider(message string) {
    <section class="divider">
        <hr />
        <small>{ message }</small>
        <hr />
    </section>
}

templ body(components ...templ.Component) {
    <body>
        for _, c := range components {
            @c
        }
    </body>
}
